.loginContainer {
  height: 100vh;
}

.loginFormHeader h1 {
  font-size: 38px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}

.formYear {
  color: yellow;
}

.usernameDiv,
.passwordDiv {
  display: flex;
  flex-direction: column;
}

.loginForm {
  background-color: #FFFFFF;
  width: 550px;
  border-radius: 5px;
  padding: 30px;
}

.usernameInput,
.passwordInput {
  background-color: #f3f3f3;
}

.usernameLabel,
.passwordLabel {
  font-size: 16px;
  font-weight: 300;
}

.btnDiv {
  margin: 40px auto;
}

.loginBtn {
  width: 100%;
  background-color: #4066EB !important;
}